*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clr{
	clear: both;
}


.header-height{
	height: 200px;
}
.menu-height{
	height: 50px;
}
.content-height{
	height: 2000px;
}
.smallfooter-height{
	height: 200px;
}
.footer-height{
	height: 40px;
}


.col-1{
	width: 8.33%;
}

.col-2{
	width: 16.66%;
}
.col-3{
	width: 25%;

}
.col-4{
	width: 33.33%;
}
.col-5{
	width: 41.66%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.33%;
}
.col-8{
	width: 66.66%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.33%;
}
.col-11{
	width: 91.66%;
}
.col-12{
	width: 100%;
}
[class*='col-']{
	float: left;
	border:1px solid;
	

}

.row:after{
	content: "";
	clear: both;
	display: block;
}
.wrapper{
	width: 90%;
	height: auto;
	margin: 0 auto;
}

.main-ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.main-ul li{
	float: left;
	width: 150px;
	border: 1px solid gray;
}
.main-ul li a{
	display: block;
	text-decoration: none;
	text-align: center;
	height: 38px;
	padding-top: 10px;
	text-transform: uppercase; /* capital letter */
	background: purple;
	color: white;
	transition: 1s;  /* to change the background of menu by hovering it will take 1 sec */
}
.main-ul li a:hover{
	background: black;
	color:white;
}

.div-raihan-radious{
	margin: 50px 5px 5px 0px;
	height: 200px;
	width: 200px;
	background: red;
	border-radius: 50%;
	float: left;
	transform: rotate(0deg) scale(1);
	transition: 2s;
	
}
.div-raihan-radious img{
	border-radius: 50%;
}
.div-raihan-radious:hover{
	transform: rotate(360deg) scale(1.5);
	
}

.div-mimu-radious{
	margin: 50px 0px 0px 0px;
	height: 200px;
	width: 200px;
	background: red;
	border-radius: 50%;
	float: left;
	transform: rotate(0deg) scale(1);
	transition: 2s;
}
.div-mimu-radious img{
	border-radius: 50%;
}
.div-mimu-radious:hover{
	transform: rotate(360deg) scale(1.5);
}
.div-raihan-square{
	margin: 50px 5px 5px 0px;
	height: 200px;
	width: 200px;
	background: red;
	border-radius: 50%;
	float: left;
	transform: skewY(25deg);
}
.div-mimu-square{
	margin: 50px 0px 0px 0px;
	height: 200px;
	width: 200px;
	background: red;
	border-radius: 50%;
	float: left;
	transform: skewY(-25deg);
}
.flag{
	margin-top: 100px;
}
.grean-area{
	height: 350px;
	width: 700px;
	background: green;
	float: left;
}
.red-area{
	margin: 50px 200px;
	height: 250px;
	width: 250px;
	background: red;
	border-radius: 50%;
	float: left;
}
.rainbow{
	margin-top:50px;
	height: 200px;
	width: 200px;
	background: linear-gradient(to left,red, orange, yellow, green, blue, indigo, violet);
	transform: rotate(0deg) scale(1);

	transition: 2s;
}
.rainbow:hover{
	transform: rotate(360deg) scale(1.5);
}

.animation-part{

}
.picture-animation{
	margin-top: 50px;
	height: 200px;
	width: 300px;
	animation: kaniz;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}


@keyframes kaniz{
	 0%{background: url("../images/forgit.jpg");}
	 50%{background: url("../images/r1.jpg");}
	 100%{background: url("../images/raihanuddin.jpg");}
}